 <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="logo">
          <span class="glyphicon glyphicon-align-justify"></span>
            <img src="~/Content/themes/base/images/amztracker-logo-white.png" style="cursor: pointer; width: 160px; margin: -15px 0 0 20px;">
        </div>
        <ul class="sidebar-nav">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->