<div id="AddProduct">
    <div class="modal-header add-product-header">
        <h4 class="modalName">Add Products</h4>
    </div>
    <div class="modal-body add-product-body">
        Paste the product URL or type the product ASIN below to add new products to track. Tags are used to segment products into groups (optional).
		<form class="form-inline" role="form">
            <textarea class="form-group" rows="10" placeholder="URL or ASIN. Separate multiple products with a new line." name="asins"></textarea>
            <div class="form-group">
                <select class="form-control" name="domain">
                    <option>www.amazon.com</option>
                    <option>www.amazon.co.uk</option>
                    <option>www.amazon.com.br</option>
                    <option>www.amazon.ca</option>
                    <option>www.amazon.cn</option>
                    <option>www.amazon.fr</option>
                    <option>www.amazon.de</option>
                    <option>www.amazon.in</option>
                    <option>www.amazon.it</option>
                    <option>www.amazon.co.jp</option>
                    <option>www.amazon.es</option>
                </select>
                <input type="text" class="form-control" name="product_tags" placeholder="Tags">
                <input type="checkbox" name="add_parent" id="add_parent" checked="">
                <label class="has-tooltip" for="add_parent" title="" data-original-title="Add the parent product and track all the child products. Untick this if you only want to track the child product.">Track Parent Product and All Variations</label>
                <input type="hidden" name="from" value="">
            </div>
        </form>
    </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		 <button type="button" class="btn btn-primary modal-add-products-button">Add Products</button>
    </div>
</div>
