
#DigitalCouponPage , #PrintCouponPage , #SocialCouponPage{
	background: $digitalCouponPageBg;

	.coupon-header {
		margin-top:10px;
		.title
		{
			float:left;
			margin-right: 5px;
			font-size: 16px;
			font-weight: bold ; 
		}
		select
		{
			 font-size: 11px;
			 padding: 3px;
			 width: 120px;
			 height:25px;
		}
		.sort-coupon
		{
			margin-top: 10px;
			width: 345px;
		}
		.page-coupon
		{
			margin-top: 10px;
			text-align: right;
		}
	}

	.single-coupon	{
		  margin-bottom: 15px;
		  min-height:325px;
		  border: 1px solid $borderColor;
		  border-radius: 8px;
		  background: $mainMenuSubNavFontColor;
		  padding: 0 15px 15px 15px;

		  .coupon-saving-header {
			background: $digitalCouponHeaderBg;
			color: $mainMenuSubNavFontColor;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			padding: 5px;
			margin-left: -15px;
			margin-right: -15px;
			border-radius: 8px 8px 0 0;
		  }
		  .coupon-footer {
			text-align: center;
			margin-bottom: 10px;
			.added-button
			{
				cursor: default !important;
				background: red;
			}
		  }
		  
		  .coupon-content {
			.coupon-thumb {
				height: 110px;
				overflow: hidden;
				margin: 10px 0;
				text-align: center;

				> img {
					max-height: 110px;
					width: auto;
					height: auto;
				}
			}

			.coupon-detail {
				.coupon-title {
					font-size: 15px;
					font-weight: bold;
				}
				.coupon-desc
				{
					font-size: 15px;
				}
				min-height:150px;
			}
			.exp-date
			{
				text-align: center;
			}
			.disclaimer
			{
				margin-top: 15px;
			}
		  }
		  .coupon-footer 
			{
				button
				{
					padding: 5px 5px;
					margin-top:40px;
				}
			}
	}
	
	.border-dashed	{
		  border-color: $borderDashedBg !important;
		  border-style: dashed !important;
		  border-width: 1px;
	}
	
	.introduce-coupon-header {
		.coupon-policy	{
			float: right;
			padding-right: 20px;
			font-weight: bold;
			color: $IntroCouponHeader;
			text-decoration: none;
		}
		.coupon-print-help
		{
			float: right;
			padding: 7px 13px;
			margin-top:15px;
		}
	}
}
