.weightloss-detail {
	margin-top: 20px;

	.plan-header {
		font-size: 20px;
		font-weight: bold;
	}

	.follow-more {
		padding-left:20px;
	}
}

#MealPlanContent{
	h2 {font-size: 24px}
	.mealplans_category {
		margin-top: 20px;

		.category-level{
			border: 1px solid $borderColor;
			border-width: 1px 0;

			.calorie-choice{
				line-height: 20px;
				padding-top: 24px;
			}

			.mealplan-level-list {
				float: right;
				li {
					float: left;
			  		border-left: 1px solid $borderDashedBg;
			  		padding-left: 5px;
			  		padding-right: 5px;	
				
					a.selected {
						padding: 3px 5px;
						background: $mainMenuHoverColor;
						color: $mainMenuSubNavFontColor;
						font-weight: bold;
					}
				}
				li:first-child {
					border-left: none;
				}
			}
		}

		.category-content {
			.category-level-title {
				margin-top: 20px;

				.plan-title {
					font-size: 20px;
					font-weight: bold;
				}
			}
		}
	}
}
