#MenuV.accordion {
	ul.menu > li.selected{
		> a {
			background-color: $mainMenuSubNavBackground;
			color: #fff;
			font-size: 14px;
			padding: 10px 15px 10px 24px;
			text-decoration: none;
		   
		}
		.submenu {
			display: block;
			.current {
				> a {
					font-weight: bold;	   
				}
			}
		}
	}
}
