#NuArticlePage {
	.top-banner{
		background: $nuarticleTopBanner;
		background-size: 100%;
		height: 146px;
		padding-top: 55px;
		margin-bottom: 10px;
		@media (min-width:$screen-sm-min) {
			height: 146px;
			padding-top: 55px;
		}
		@media (min-width:$screen-md-min) {
			height: 192px;
			padding-top: 75px;
		}
		@media (min-width:$screen-lg-min) {
			height: 230px;
			padding-top: 95px;
		}
	}
	.menu-nuarticle{
		font-size: 20px;
		font-weight: bold;
		border: 1px solid $cateringCatBorder;
		border-radius: 6px;
		height: 45px;
	}
}
.nuarticle-detail{
	.summary {
		text-align: right;
	}
	.action {
		text-align: right;
	}	
}