#CateringPage, #GiftCardsOrderView, #CookingSchoolView{
	.order-table{
		border: 0;
	}
	@media(max-width:640px){
		.current-orders{
			width: 100%;
		}
	}
	@media(max-width:350px){
		.contact-info, .pickup-info, .billing-info, .shipping-info{
			width: 100%;
		}
	}
}
#OrderHistoryView{
	.order-list{
		border-top: 1px solid $borderColor;
		border-left: 1px solid $borderColor;
		border-right: 1px solid $borderColor;
		.type-title{
			background: $borderColor;
			height: 40px;
			padding-top: 10px;
			padding-left: 5px;
		}
		.order-item{
			padding-bottom: 10px;
			margin-top: 5px;
			margin-bottom: 5px;
			border-bottom: 1px solid $borderColor;
			padding-left: 10px;
		}
	}
	@media(max-width:480px){
		.order-num{
			width: 100%;
		}
		.order-links{
			width: 100%;
			text-align: left;
		}
	}
	@media(max-width:350px){
		.order-confirm-title, .order-confirm-va, .order-date-title, .order-date-val{
			width: 100%;
		}
	}
}
#GiftCardsOrderView, #CookingSchoolOrderView, #CateringOrderView{
	ul.ordered-product{
		list-style: disc;
	}
}