#main-body #PetClubPage, #SignUpPetClubPage
{
	.pet-club-content
	{
		ul li{color:$mainHeadingColor;}
		ul li p{color: black; margin: 0;}
		span{color: $mainHeadingColor;font-weight:bold;padding-left: 24px;}
	}
	.petclub-info-content
	{
	   table thead tr td{font-weight:bold;}
	   .petclub-item .delete-pet-btn{padding-top: 8px; cursor: pointer;}
	   .petclub-footer
	   {
		   #SavePetClub
		   {
		       padding: 4px 10px;
			   font-size: 15px;
			   float: right;
		   }
		   #AddMorePet
		   {
			   background: $mainHeadingColor;
			   text-transform: inherit;
			   padding: 4px 10px;
			   font-size: 15px;
			   float: left
		   }
	   }
	}
	.sign-up-pet-club
	{
		text-align: center;
		#SignUpPetClub
		{
			 border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			-ms-border-radius: 30px;
			background: $mainHeadingColor;
		    text-transform: inherit;
			padding: 5px 50px;
		}
	}
}
@media (max-width:$screen-xs-min)
{
}