
.recipe-list {
	.recipe-box {
		margin-bottom: 30px;
	}
	.recipe-item {
		min-height: 305px;
		border: 1px solid $cateringCatBorder;
		border-radius: 8px;
		padding: 20px;
		.recipe-image {
			max-width: 144px;
			margin-left: auto;
			margin-right: auto;
			min-height: 155px;
			img {width: 144px; height: 144px;}
		}

		.recipe-text {
			min-height: 50px;

			.remove-recipe{
				float: right;
				margin-top: -10px;
			}
		}
	}
}

#RecipePage{
	.top-banner{
		background: $recipeTopBanner;
		background-size: 100%;
		height: 146px;
		padding-top: 55px;

		@media (min-width:$screen-sm-min) {
			height: 146px;
			padding-top: 55px;
		}
		@media (min-width:$screen-md-min) {
			height: 192px;
			padding-top: 75px;
		}
		@media (min-width:$screen-lg-min) {
			height: 230px;
			padding-top: 95px;
		}
	}

	#recipe-cat{
		font-size: 20px;
		font-weight: bold;
		border: 1px solid $cateringCatBorder;
		border-radius: 6px;
		height: 45px;
	}

	#RecipePageContent{
		.recipe-day{
			.recipe-title{
				font-size: 17px;
				font-weight: bold;
					cursor: pointer;
			}
			.recipe-image{
				max-width: 144px;
			}
		}
		.recipe-list
		{
			.recipe-box{
				.recipe-title {
					font-weight: bold;
					font-size: 17px;
					cursor: pointer;
					min-height: 50px;
				}
			}
		}
	}
}

@media(max-width: 1199px){
	.recipe-list .recipe-item{
		min-height: 345px;
	}
}
@media(max-width: 991px){
	.recipe-list .recipe-item{
		min-height: 305px;
	}
}
@media(max-width: $screen-xs-max){
	.recipe-list .recipe-item{
		.view-recipe .fa-angle-double-right{
			padding-left: 15px;
		}
	}
	.recipe-list {
		.recipe-item {
			min-height: 210px;
			.recipe-image {
				max-width: 144px;
				float: left;
				img {width: 144px; height: 144px;}
			}
			.recipe-title {
				margin-left: 160px;
			}

			.recipe-text {
				margin-left: 160px;
			}
		}
	}
}

@media(max-width: 408px){
	#RecipeBoxPage {
		.recipe-list .recipe-item{
			.view-recipe{
				clear: both;
				.fa-angle-double-right {
					padding-left: 0px;
				}
			}
		}
	}
}
@media(max-width: 375px){
	.recipe-list .recipe-item {
		.recipe-text, .recipe-title{
			margin-left: 0px;
		}
		.view-recipe .fa-angle-double-right{
			padding-left: 0px;
		}
		.recipe-image{
			img {width: 144px; height: 144px;}
			float: none;
		}
	}
}
#RecipeBoxPage {
	.top-banner{
		background: $recipeBoxTopBanner;
		background-size: 100%;
		height: 146px;
		padding-top: 55px;

		@media (min-width:$screen-sm-min) {
			height: 146px;
			padding-top: 55px;
		}
		@media (min-width:$screen-md-min) {
			height: 192px;
			padding-top: 75px;
		}
		@media (min-width:$screen-lg-min) {
			height: 230px;
			padding-top: 95px;
		}
	}
	#recipe-cat{
		font-size: 20px;
		font-weight: bold;
		border: 1px solid $cateringCatBorder;
		border-radius: 6px;
		height: 45px;
	}
	#RecipeBoxPageContent{
		.recipe-list
		{
			.recipe-box{
				.recipe-title {
					font-weight: bold;
					font-size: 17px;
					cursor: pointer;
					min-height: 50px;
				}
			}
		}
	}
}

#MealPlansPage {
	.top-banner{
		background: $mealPlansTopBanner;
		background-size: 100%;
		height: 146px;
		padding-top: 55px;

		@media (min-width:$screen-sm-min) {
			height: 146px;
			padding-top: 55px;
		}
		@media (min-width:$screen-md-min) {
			height: 192px;
			padding-top: 75px;
		}
		@media (min-width:$screen-lg-min) {
			height: 230px;
			padding-top: 95px;
		}
	}
	.menu-mealplan{
		font-size: 20px;
		font-weight: bold;
		border: 1px solid $cateringCatBorder;
		border-radius: 6px;
		height: 45px;
	}
}

// Popup style
.recipe-description {
	margin-bottom: 10px;
}

.recipe-detail {
	.recipe-thumb {margin-top: 8px;}
	.recipe-text {
		.recipe-title {
			font-size: 22px;
			font-weight: bold;
			color: $mainHeadingColor;
			margin-bottom: 15px;
		}
		.bottom-box {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}

	.recipe-data {
		.panel-heading {
			font-size: 18px;
			font-weight: bold;
			color:$mainHeadingColor;
		}

		.recipe-directions {
			h3 {
				font-size: 16px;
				margin: 0px;
			}
		}
		.ing-item {
			overflow: auto;
			width: 100%;
			input[type="checkbox"]{
				float: left;
				margin-right: 10px;
			}
			label {
				float: left;
				max-width: 100%;

			}
		}
	}
}

.logo-cursor
{
	cursor: pointer;
}
