#main-body #JoinedPage
{
	.right-content{
		.red-mss{
			color: $messageColor; font-weight: bold;
		}
	}
	.update-acc-form{
		text-align: center;
		margin-bottom: 5px;
		.footer-control{
			margin-top: 10px;
		}
		.markauth-label{
			text-align: left;
			padding-left: 10px;
		}
	}
}
#main-body #SignUpPage
{
	.left-content{
		.discount{
			color: $borderDashedBg;
		    font-size: 16px;
			span{
			    font-size: 21px;
				font-weight: bold;
			}
			.entt{
				color: $mainMenuTextColor;
			}
		}
	}
	.right-content{
		margin-top: -100px;
		.enroll-box{
			background: $rightContentBg;
			.slogan
			{
				font-size: 15px;
			}
			.div-condition
			{
				font-size: 75%;
			}
			#EnrollForm{
				.controls{
					padding-left: 20px;
				}
				.enroll-controls{
					margin-bottom: 10px;
					margin-top: 10px;
				}
			}
			.enroll-bottom-text{
				margin-bottom: 5px;
				font-size: 11px;
			}
		}
		.enroll-box-bottom{
			font-size: 11px;
		}
	}
}
#main-body #PaidPage
{
	.right-content{
		.update-acc-form{
			.footer-control{
				margin-top: 10px;
			}
		}
	}
}
#main-body #SignUpPage, #main-body #JoinedPage, #main-body #PaidPage{
	a{
		color: $rxClubTextColor;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
	}
	span.discount-span{
		font-size: 16px;
		font-weight: bold;
	}
	.spliter hr{
		border-top: 1px $hightLight double;
	}
	.faq{
		margin-top: 10px;
		a{
			font-size: 11px;
			text-decoration: none;
		}
	}
	.pdf-btn{
		text-align: center;
		margin: 0px;
		img.logo{
			width: 282px;
		}
		a.albertson-logo{
			position: absolute;
			top: 51px;
			left: 4px;
			width: 64px;
			height: 62px;
			background-color: transparent;
		}		
		a.other-logo{
			position: absolute;
			top: 51px;
			left: 68px;
			width: 212px;
			height: 62px;
			background-color: transparent;
		}
	}
	.img-map{
		margin: auto; position: relative; width: 280px;
	}
	@media(max-width: 1199px)
	{
		.left-content{
			width: 100%;
		}
		.right-content {
			width: 100%;
			margin-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
			.pdf-btn{
				a.albertson-logo{
					left: 4px;
				}
				a.other-logo{
					left: 68px;
				}
			}
		}
	}
	@media(max-width: 992px)
	{
		.pdf-btn{
			a.albertson-logo{
				left: 2px;
			}
			a.other-logo{
				left: 66px;
			}
		}
	}
	@media(max-width: 768px)
	{
		.pdf-btn{
			a.albertson-logo{
				left: 4px;
			}
			a.other-logo{
				left: 68px;
			}
		}
	}
}