#TopMenu  .shoppinglist-popover-total {
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
}
.shoppinglist-table{
	 width: 100%;
 	max-width: 100%;
  	margin-bottom: 10px;
	.header {
		background: $viewCartHeaderBg;
		height: 30px;
		color: $panelHeaderBarBg;
		th.name {
			width: 16.66667%;
			text-align: center;
		}
		th.desc {
			width: 41.66667%;
			text-align: center;
		}
		th.price {
			width: 16.66667%;
			text-align: right;
		}
		th.quantity {
			width: 16.66667%;
			text-align: center;
		}
		th.delControl {
			width: 8.33333%;
			text-align: center;
		}
	}
	td {
		padding: 5px;
	}
	.section-header {
		/*vertical-align: middle;*/
		color: $panelHeaderBarBg;
		font-size: 15px;
		font-weight: bolder;
		background: $borderColor;
	}
	.sub-section-header{
		.section-header-text {
			padding-left: 5px;
			background: $paymentProcessHeaderBg;
			color: $panelHeaderBarBg;
			font-weight: bold;
		}
	}
	.product-content {
		width: 100%;
		border-bottom: 0px solid $paymentProcessHeaderBg;
		display: inline-block;
		.product-image {
			float: left;
			width: 16.66667%; 
			img {
				max-height: 50px;
				max-width: 100%;
				margin: 5px 0px 0px 0px;
				width: auto;
			}

		}
		.product-text {
			float: left;
			height: auto;
			position: relative;
			width: 83.33333%;
			word-break: break-word;
			padding-left: 10px;
			.label {
				font-size: 12px;
			}
			.product-desc {
				font-size: 0.9em;	
			}
		}
	}
	.spinner {
		width: 80px;
		.input-group-addon .spin-down .fa-sort-desc{
			position: relative;
			top: -4px;
		}
	}
	tr.coupon-item {
		border: 4px dashed $panelHeaderBarBg;
	}	
}
.shopplist-footer{
	#AddNoteBtn {
		margin-bottom: 1px;
	}
	.button-group {
		text-align: right;
	}
	.guest-print-btn
	{
		margin-bottom: 1px;
	}
}
.shoppinglist-popover{
	min-width: 300px;
	.min-close-shoppinglist-btn{
		  color: gray;
		  cursor: pointer;
		  margin-top: -20px;
		  position: absolute;
		  margin-left: 270px;
		  font-size: 16px;
	}
}
.min-shoppinglist-ctn {
	margin-top: 10px;
	color: $borderDashedBg;
	.shoppinglist-name{
		display: inline-block;
		color: $mainHeadingColor;
		font-weight: bold;
	}
	.min-shopping-list{
		padding-left: 0px;
		padding-right: 8px;
		list-style: none;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		.name 
		{
			word-break: break-word;
		}
		
	}
	.shopping-list-slider-change {
		margin-bottom: 15px;
		border-bottom: 1px solid;
		border-color:  $mainHeadingColor;
	}
	.min-shopping-footer{
		margin-top: 10px;

		a {
			color: $borderDashedBg;
		}
	}
	#MinAddNoteBtn {
		
	}
	#ShoppinglistFullLink {
		color: $borderDashedBg;
	}
}
@media (max-width: $screen-xs-max){
	.shoppinglist-table{
		.header {
			th.name {
				width: 0%;
				text-align: center;
			}
			th.desc {
				width: 41.66667%;
				text-align: center;
			}
			th.price {
				width: 0%;
				text-align: right;
			}	
			th.quantity {
				width: 25%;
				text-align: center;
			}
			th.delControl {
				width: 25%;
				text-align: center;
			}
		}
		.product-content {
			.product-text {
				width: 100%;
			}
		}
		.spinner {
			width: 100%;
		}
	}
	.shopplist-footer{
		.button-group {
			text-align: center;
		}
	}
	.shopping-list-popup, .print-popup
	{
		.shoppinglist-table .product-content .product-text {
		  width: 83.33333%;
		}
	}
}

.list-of-shoppinglist {
	.list-group-item {
		border-radius: 0px;
		border-left: none;
		border-right: none;
		input {
			width: 95%;
		}
		input, .del-btn, .done-btn {
			display: none;
		}
		.name-txt {
			cursor: pointer;
		}
	}
	.list-group-item.edit {
		.name-txt , .edit-btn, .add-btn {
			display: none;
		}
		input, .del-btn, .done-btn  {
			display: inline-block;
		}
	}	
}