#main-body {
	#StoreLocatorPage
	{
		.storeresult-listitem
		{
			.store-item
			{
				min-height: 175px;
				@media (max-width:$screen-xs-max) 
				{
					min-height: 176px;
				}
				@media (min-width:$screen-sm-min) 
				{
					min-height: 275px;
				}
				@media (min-width:$screen-md-min) 
				{
					min-height: 175px;
				}
				.store-more-info .gas
				{
						color: $messageColor;
						text-transform: uppercase;
						font-weight: bold;
				}
				.link-footer .cstore
				{
					  margin-top: 5px;
					  .cstore-img
					  {
						float: left;
						img
						{
							width:44px;
						}
					  }
					  .cstore-title
					  {
						float: left;
						font-size: 11px;
					  }
				}
			}
			hr{
				border: 1px solid $borderColor;
				border-top: 0px;
			}
		}
		#gmap
		{
			height: 280px; display: block; width: 100%;
			.store-ballon{
				color: $borderDashedBg;
			}
		}

		.mapbox {
			background-color: $storeLocatorBoxBg;
			color: $mainMenuSubNavFontColor;
			.box-search-store{
				h3.search-title{
					color: white;
				}
				.search-store-btn{
					background-color: none;
				}
				.search-store-btn:hover{
					background-color: $btnSearchStoreHoverBg;
				}
			}
		}
		
		.store-map
		{
			padding: 0;
		}

		#divSideBar {
			font-size: 12px;
			margin-top: 10px;
			.no-label{
				font-size: 14px;
			}
		}
	}
}