
#WeeklyAdContainer, #NextWeeklyAdContainer{
	.dept-view {
		display: none;
	}
	.search-view {
		display: none;
	}
	.empty-view {
		display: none;
	}
	.flyer-view{
		display: block;
	}

	&.dept-view-mode {
		.dept-view {
			display: block;
		}
		.flyer-view{
			display: none;
		}
		.search-view{
			display: none;
		}
		.empty-view {
			display: none;
		}
	}
	&.search-view-mode {
		.dept-view {
			display: none;
		}
		.flyer-view{
			display: none;
		}
		.search-view{
			display: block;
		}
		.empty-view {
			display: none;
		}
	}
	&.empty-view-mode {
		.dept-view {
			display: none;
		}
		.flyer-view{
			display: none;
		}
		.search-view{
			display: none;
		}
		.empty-view {
			display: block;
		}
	}
	background: $weeklyAdContainerBg;
	padding: 15px 0;
	.view-flyer-btn{
		background-color: $buttonHoverColor;
	}
	.view-flyer-btn:hover{
		background-color: $ViewFullFlyerBtnHoverBg;
	}
	#FlyerPagesPaging{
		a.page, a.flyer-next-btn, a.flyer-prev-btn{
			color: $buttonHoverColor;
		}
		a.page:hover, a.flyer-next-btn:hover, a.flyer-prev-btn:hover{
			background-color: $ViewFullFlyerBtnHoverBg;
			color: white;
		}
		a.page.active{
			background-color: $ViewFullFlyerBtnHoverBg;
			color: white;
		}
	}
}
.wa-navigation {
	margin-bottom: 10px;
	.wa-next-section >* {
		display: block;
		font-size: 12px;
	}
	.paging-section {
		> div{
			text-align: center;
		}

		.pages {
			margin-top: 5px;
			a.page {
				font-weight: bold;
				padding: 1px 5px 2px;			
			}

			a.page:hover, a.active {
				background: $weeklyAdActivePageBg;
				color: $mainMenuSubNavFontColor;
				font-weight:bold;
				text-decoration: none;
			}
		}
	}
	.download-section {
		padding-left: 8px;		
		margin-right: 10px;
		width: 46px;
		height: 28px;
		border-right: 1px solid $sectionBorder;
	}
	.dept-section select{
		float: right;
		margin-right: 15px;
		margin-top: 5px;
	}

}
.popover{
	max-width: 400px;
}
.flyer-view {
	width: 100%;
	.icon {
		&.prev-btn, &.next-btn{
			width: 60px;
			height: 60px;
			position: absolute;
			top: 250px;
			opacity: .7;
		}
		&.next-btn {
			right: 15px;
		}
	}
	.flyer-pages{
		max-width: 768px;
		margin-right: auto;

		@media (min-width:$screen-md-min) {
			margin-left: -17px;
		}

		@media (min-width:$screen-lg-min) {
			margin-left: 47px;
		}
	}
}
.flyer-page {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	&.loading:before {
		position: absolute;
	}
	.flyer-img {
		width: auto;
	}
	.flyer-items{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
	.flyer-item{
		position: absolute;
		cursor:pointer;
	}
	
}
.flyer-item-detail {
	table {
		width: 350px;
		img {
			max-width: 200px;
			width: auto;
			max-height: 200px;
			height: auto;
		}
		.name {
			text-transform: capitalize;
			corlor: #f18903;
			font-size: 16px;
			margin: -4px 0 10px 10px;
			font-weight: bold;
			line-height: 1.1;
			min-height: 30px;
		}
		.description {
			font-size: 11px;
			margin: 7px 0;
			color: $borderDashedBg;
			line-height: 1.1;
			min-height: 50px;
			margin-left: 10px;
		}
		.price {
			margin: 10px 0;
			font-size: 16px;
			color: $borderDashedBg;
			font-family: "Cabin";
			font-weight: bold;
			line-height: 1.1;
			margin-left: 10px;
		}
		.action{
			color: $actionColor;
			font-weight: bold;
			text-align: left;
			text-transform: capitalize;
			font-size: 10px;
			line-height: 1.1;
			margin-left: 10px;
		}

	}
}
.dept-view, .search-view {
	.dept-title {
		margin-left: 15px;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.list-paging {
		text-align: right;
	}
	.sale-item-wrapper{
		overflow: auto;
	}
	.saleitem {
		border: 1px solid $paymentProcessHeaderBg;
		background: $mainMenuSubNavFontColor;
		border-radius: 5px;
		position: relative;
		margin-bottom: 20px;
		padding: 15px;
		>.row {
			position: relative;
		}
		.saleitem-image {
			img {
				max-width: 130px;
				max-height: 130px;
				margin-left: auto;
				margin-right: auto;
				width: auto;
				height: auto;
				display: block;
			}
			min-height: 130px;
		}
		.info {
			@media (min-width:$screen-sm-min) {
				text-align: center;
				height: 160px;

			}
			
			min-height: 120px;
			margin-bottom: 10px;
			
			.price {
				padding-bottm: 5px;
				font-weight: bold;
				font-size: 16px;
			}
			.name {
				color: $borderDashedBg;
				font-weight: bold;
				font-size: 16px;
				line-height: 18px;
				/*height: 60px;
				overflow: hidden;
				*/
				margin: 10px 0;
			}
			.desc {
				font-size: 12px;
				line-height: 14px;
				/*height: 36px;
				overflow: hidden;
				*/
			}
			.action {
				margin-top: 10px;
				font-size: 13px;
			}
			
			
		}
		.action {
			font-size: 13px;
			@media (min-width:$screen-sm-min) {
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 5px;
			}
		}
		
	}
}

@media (max-width: $screen-sm-max){
	#WeeklyAdContainer{
		.dept-view {
			display: block;
		}
		.flyer-view{
			display: none;
		}
	}
}
@media (max-width: $screen-xs-max){
	.dept-section select{
		float: none;
		width: 90%;
	}
	.dept-view{
		.saleitem {
			.saleitem-image {
				img {
					max-width: 100%;
				}
			}
			.info {
				.name{
					height: auto;
				}
			}
		}
	}
	
}

ul.menu-search-r-s-menu{
	li {
		list-style: outside none none;
	}
}

/* fix click for IE */
body.IE9, body.IE10 {
	#WeeklyAdContainer, #NextWeeklyAdContainer {
		.flyer-view{
			.flyer-item {
				background: white;
				opacity: 0;
			}	
		}
	}
	 
	
}