#main-body #WineBeerClubPage, #SignUpWineBeerClubPage
{
	.wine-beer-club-content
	{
		ul li{color:$mainHeadingColor;}
		ul li p{color: black; margin: 0;}
		span{color: $mainHeadingColor;font-weight:bold;padding-left: 24px;}
	}
	.wine-beer-info-content
	{
	   table thead tr td{font-weight:bold;}
	   .wine-beer-info
	   {
			input[type='checkbox']
			{
			  margin-top:10px;
			}
	   }
	   .wine-beer-footer
	   {
	       text-align: right;
		   #SaveWineBeerClub
		   {
		       padding: 4px 10px;
			   font-size: 15px;
		   }
	   }
	}
	.sign-up-winebeer-club
	{
		text-align: center;
		#SignUpWineBeerClub
		{
			 border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			-ms-border-radius: 30px;
			background: $mainHeadingColor;
		    text-transform: inherit;
			padding: 5px 50px;
		}
	}
}
@media (max-width:$screen-xs-min)
{
	.wine-beer-info-content
	{
	   table tbody tr td:first-child{width:30%;}
	   table tbody tr td:last-child{width:40%;}
	}
}